*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list-nhomsp td,th {
    padding: 7px;
}
.list-nhomsp tr td:first-child{
    text-align: left;
}
.list-nhomsp>button{
    float: right;
    margin-right: 36px;
    margin-bottom: 20px;
}